div#previewImages {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
div#previewImages img {
    position:absolute;
    left: 0px;
    top: 0px;
}

svg#hotSpots {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
svg#hotSpots path {
    fill: #55bada;
    fill-opacity: 0.2;
    stroke : none;
}
svg#hotSpots.hidden path {
    fill-opacity: 0.001;
}
svg#hotSpots path.selected {
    stroke : #55bada;
    stroke-width : 3px;
}
svg#hotSpots circle {
    fill: #55bada;
}

div#configPanel {
    position: absolute;
    right:0px;
    top:0px;
    height:99%;
    width:612px;
    z-index:2;
    border: 1px solid #ddd;
    background-color:rgba(255,255,255,0.75);
}
div#configPanel.collapsed {
    width:12px;
}
div#collapseBar {
    height:100%;
    width:12px;
    background-color:#ddd;
}
div#collapseBar img {
    position: relative;
    width:12px;
    height:12px;
    top: 50%;
    transform: translateY(-50%);
}
div#configContents {
    position: absolute;
    top:0px;
    left:12px;
    width:600px;
    height:100%;
}
div#configPanel.collapsed div#configContents {
    width:0px;
    overflow: scroll;
}

div#graphContainer {
    position:absolute;
    width:100%;
    height:50%;
    overflow: scroll;
}

svg#graph marker path {
    fill: rgba(0,0,0,0.75);
    stroke: none;
}
svg#graph path.link {
  fill: none;
  stroke: rgba(0,0,0,0.25);
  stroke-width: 2.0px;
}
svg#graph path.delete_folder {
    stroke: #da55ba;
}
svg#graph path.create_folder {
    stroke: #bada55;
}
svg#graph circle {
  fill: rgba(0,0,0,0.75);
  stroke: #000;
  stroke-width: 1.5px;
}
svg#graph circle.active {
  fill: #55bada;
}