#config {
    position : absolute;
    top : 0px;
    right : 0px;
}
input.error {
    background-color: rgba(255, 0, 0, 0.25);
}
img, svg, canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
svg path {
    fill: #55bada;
    fill-opacity: 0.5;
    stroke : none;
}
svg.hidden path {
    fill: rgba(0, 0, 0, 0.001);
    stroke: none;
}
svg path.selected {
    stroke : #55bada;
    stroke-width : 3px;
}
svg circle {
    fill: #55bada;
}
#slideSelect {
    position: absolute;
    right: 0px;
    top: 0px;
}