html, body {
    height : 100%;
}
select[disabled] {
    border-color: #ddd;
    color: #ddd;
    text-shadow: none;
}
div#previewImages {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}
div#previewImages img {
    position:absolute;
    left: 0px;
    top: 0px;
}

svg#hotSpots {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
svg#hotSpots path {
    fill: #66c2a5;
    stroke: #66c2a5;
    fill-opacity: 0.25;
    stroke-width : 0px;
}
svg#hotSpots path.mask {
    fill: #ddd;
    stroke: #ddd;
}
svg#hotSpots path.selected {
    stroke-width : 3px;
}
svg#hotSpots circle {
    fill: #8da0cb;
}

div#configPanel {
    position: absolute;
    right:0px;
    top:0px;
    height:99%;
    width:612px;
    z-index:2;
    border: 1px solid #ddd;
    background-color:rgba(255,255,255,0.75);
}
div#configPanel.collapsed {
    width:12px;
}
div#collapseBar {
    height:100%;
    width:12px;
    background-color:#ddd;
}
div#collapseBar img {
    position: relative;
    width:12px;
    height:12px;
    top: 50%;
    transform: translateY(-50%);
}
div#configContents {
    position: absolute;
    top:0px;
    left:12px;
    width:600px;
    height:100%;
    overflow:scroll;
}
div#configPanel.collapsed div#configContents {
    width:0px;
}
div#configContents img {
    width:100%;
}

div#graphContainer {
    width:100%;
    height:50%;
}
div#graphContainer span {
    width:100%;
    height:5%;
    padding: 5px;
}
div#graphContainer span select {
    display: inline-block;
    width:150px;
    margin-bottom: 0;
}
div#graphContainer #graphLegend {
    position: absolute;
    width:150px;
    height:45%;
    overflow-x: auto;
    overflow-y: hidden;
    border:1px solid #ddd;
}
div#graphContainer #graphRegion {
    position: absolute;
    left:150px;
    right:0px;
    height:45%;
    overflow:scroll;
    border:1px solid #ddd;
}

svg#graph path.link {
  stroke-width: 1px;
}
svg#graph circle {
  stroke: none;
}
svg#graph circle.active {
  stroke: #000;
  stroke-width: 3px;
}
div#loading {
    position: relative;
    width:100%;
    height:100%;
    z-index:2;
}
div#loading div {
    position:absolute;
    background: rgba(0,0,0,0.5);
    margin: 0;
    width: 200px;
    height: 100px;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}
div#loading div div {
    postion:absolute;
    margin: 0;
    width: 200px;
    height: auto;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    color : #ffffff;
    background: none;
    text-align: center;
}