#sidebar {
    padding-top: 60px;
}
#sidebar a {
    text-decoration:none;
}
#downloads {
    padding-top: 115px;
    text-align:right;
}
#downloads img {
    height: 1em;
    padding-left: 0.5em;
}
#downloads a {
    text-decoration:none;
}
#sidebar .activePage {
    font-weight: 600;
}
#previewIcon {
    margin:0px;
    padding-left:0px;
    padding-bottom:0px;
    padding-top:0px;
    padding-right:16px;
}
#previewIcon img {
    width: 42px;
    height: 42px;
}
#faceIcon {
    margin:0px;
    padding-left:0px;
    padding-bottom:0px;
    padding-top:4px;
    padding-right:16px;
}
#faceIcon img {
    width: 174px;
    height: 174px;
}
.cvdetail {
    position: absolute;
    right: 0px;
}
.cvdetail img {
    width: 32px;
}
.noLinkUnderline {
    text-decoration: none;
}
strong {
	font-weight: 600;
}